@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #f4f4f5, #faf7fc);
}
body {
  padding: 0;
  margin: 0;
}

.searchResultDiv {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}
.searchResultDiv h3 {
  color: #258d6e;
}
.searchResultDiv h3 a {
  color: #1a0dab;
  display: inline-block;
  line-height: 16px;
  text-decoration: none;
}
.searchResultDiv h3 a:hover {
  border-bottom: 3px solid;
}
.searchResultDiv a:visited {
  color: #1a0dab;
}
.searchResultDiv .link a {
  text-decoration: none;
  color: #287e44;
}
.searchResultDiv .link a:hover {
  text-decoration: none;
}
.searchResultDiv .searchmatch {
  font-weight: bold;
}
.searchResultDiv .description {
  color: #414141;
}
.searchResultDiv.post {
  border-bottom: 5px#287e44;
}
